.applicationsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 660px;
}

.filterButtons{
  border: 1px solid black;
  min-width: fit-content;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 8px;
  width: 110px;
  background-color: white;
}