.updateAd {
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.updateAdActive {
  display: block;
}
.updateAd input:not(input[type="time"]),
.updateAd select,
.updateAd textarea {
  border: 1px solid black;
  border-radius: 5px;
}
.asterisk,
.warning {
  color: brown;
  font-size: 0.8em;
  vertical-align: top;
}
.innerInfo {
  padding: 50px 150px;
}
.timesContainer {
  display: none;
  flex-direction: row;
  gap: 10px;
}