
.pomodoro {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5a296e;
}
h1 {
  color: white;
  display: block;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

.time-container {
  color: white;
}
