.title {
  color: red;
  font-size: 25px;
}

.input {
  padding: 10px;
  border: 1px solid lightslategray;
  border-radius: 15px;
  width: 300px;
  height: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 100px;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  width: 300px;
}
