.mentorsContainer {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 0 40px;
    margin: 0 auto;
}

.mentorsTitle {
    width: fit-content;
    font-weight: 400;
    margin: 21px 0;
}