.mentorsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 543px;
    margin: 0 auto;
}

.mentorsTitle {
    width: fit-content;
    font-weight: 400;
    margin: 21px 0;
}

.experienceContainer {
    display: flex;
}