.tagsContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 0;
  align-items: center;
  background: rgba(250, 103, 115, 0.15);
  backdrop-filter: blur(30);
  border-radius: 30px;
  box-shadow: 0px 6px 10px 0px #fe444440;
  padding: 24px;
  overflow: hidden;
}

.tagsContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(250, 103, 115, 0.2);
  border-radius: inherit;
  filter: blur(30px);
  z-index: -1;
  box-shadow: 0px 6px 10px 0px #fe444440;
}

.tags {
  position: relative;
  display: inline-block;
  background-color: #fef7f8;
  padding: 10px 16px;
  border-radius: 100px;
  z-index: 0;
}

.tags::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    rgba(255, 55, 127, 1) 0%,
    rgba(255, 212, 130, 1) 85%
  );
  mask: linear-gradient(90deg, #fff 0%, #fff 100%) content-box,
    linear-gradient(90deg, #fff 0%, #fff 100%);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.toggleBtn {
  background-color: lightgrey;
  border: 1px solid grey;
  border-radius: 99px;
  width: 50px;
  height: 28px;
  transition: background-color 0.1s ease, border-color 0.2s ease;
  cursor: pointer;
  position: relative;
}

.toggleBtn .thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.toggleBtn.isToggled {
  background-color: pink;
}

.toggleBtn.isToggled .thumb {
  left: calc(50px - 25px);
}
